<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Application Madera{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap-theme.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap-datepicker.standalone.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap-datepicker3.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/themes/journal.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/madera.css') }}">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
            <script src="{{ asset('bundles/app/js/jquery.js') }}"></script>
            <script src="{{ asset('bundles/app/js/bootstrap-datepicker.min.js') }}"></script>
            <script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>