{% extends "::base.html.twig" %}

{% block body %}
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{ path('homepage') }}">MADERA</a>
			</div>
			{% if app.user is defined and app.user is not empty %}
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="{{ path('building') }}">{{ app.user.username }} {{ app.user.lastname }} </a></li>
					</ul>
					<ul class="nav navbar-nav logout">
						<li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
					</ul>
				</div>
			{% endif %}
		</div>
	</nav>
{% endblock %}