{% extends "::base.html.twig" %}

{% block body %}
	<body>
		{% include "AppBundle:Madera:header.html.twig" %}
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div style="float: left">
						<h3 style="margin-top: 0px">Créer un nouveau devis</h3>
					</div>
				</div>
			</div>
			
			<form class="form-horizontal" method="post" action="{{ path('save_devis') }}">
				<div class="row">
					<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
						<div class="form-group">
							<label for="selectGamme" class="col-sm-6 control-label">Selection de la gamme</label>
							<div class="col-sm-6">
								<select class="form-control" id="selectGamme" name="selectGamme">
									{% for gamme in gammeList %}
										<option value="{{ gamme.id }}">{{ gamme.nameGamme }}</option>
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
						<div class="form-group">
							<label for="selectModele" class="col-sm-6 control-label">Selection d'un modèle</label>
							<div class="col-sm-6">
								<select class="form-control" id="selectModele" name="selectModele">
									{% for modele in modeleList %}
										<option value="{{ modele.id }}">{{ modele.nameModele }}</option>
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
					
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
						<a class="btn btn-primary btn-sm" style="width: 100%" id="btnSelectModele">Modifier</a>
					</div>
					
					<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" id="divSelectModele" style="display: none">
						<div class="form-group">
							<label for="selectRemplissage" class="col-sm-4 control-label">Type de remplissage</label>
							<div class="col-sm-4">
								<select class="form-control" id="selectRemplissage" name="selectRemplissage">
									{% for remplissage in remplissageList %}
										<option value="{{ remplissage.id }}">{{ remplissage.nameRemplissage }}</option>
									{% endfor %}
								</select>
							</div>
						</div>
						
						<div class="form-group">
							<label for="selectFinitionInt" class="col-sm-4 control-label">Finition intérieure</label>
							<div class="col-sm-4">
								<select class="form-control" id="selectFinitionInt" name="selectFinitionInt">
									{% for finitionInt in finitionIntList %}
										<option value="{{ finitionInt.id }}">{{ finitionInt.nameFinition }}</option>
									{% endfor %}
								</select>
							</div>
						</div>
						
						<div class="form-group">
							<label for="selectFinitionInt" class="col-sm-4 control-label">Finition extérieure</label>
							<div class="col-sm-4">
								<select class="form-control" id="selectFinitionInt" name="selectFinitionInt">
									{% for finitionExt in finitionExtList %}
										<option value="{{ finitionExt.id }}">{{ finitionExt.nameFinition }}</option>
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
						<div class="form-group">
							<label for="selectCoupe" class="col-sm-6 control-label">Selection de la coupe de principe</label>
							<div class="col-sm-6">
								<select class="form-control" id="selectCoupe" name="selectCoupe">
									{% for coupe in coupeList %}
										<option value="{{ coupe.id }}">{{ coupe.nameCoupe }}</option>
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
						<div class="form-group">
							<label for="selectModule" class="col-sm-6 control-label">Selection des modules</label>
							<div class="col-sm-6">
								<select class="form-control" id="selectModule" name="selectModule">
									{% for module in moduleList %}
										<option id="selectedModule{{module.id}}" value="{{ module.id }}">{{ module.nameModule }}</option>
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
					
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
						<a class="btn btn-primary btn-sm" style="width: 100%; margin-bottom: 10px" id="editModule">Modifier</a>
					</div>					
					<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" id="divModule" style="display: none">
						<div class="form-group">
							<label for="section" class="col-sm-4 control-label">Section</label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="section" name="section" />
							</div>
						</div>
						
						<div class="form-group">
							<label for="longueur" class="col-sm-4 control-label">Longueur</label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="longueur" name="longueur" />
							</div>
						</div>
						
						<div class="form-group">
							<label for="angleEntrant" class="col-sm-4 control-label">Angle entrant</label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="angleEntrant" name="angleEntrant" />
							</div>
						</div>
						<div class="form-group">
							<label for="angleSortant" class="col-sm-4 control-label">Angle sortant</label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="angleSortant" name="angleSortant" />
							</div>
						</div>
					</div>
				</div>
				<div class="row" style="margin-top: 30px">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<button class="btn btn-success btn-sm" href="{{ path('save_devis') }}" style="width: 100%">Envoyer pour validation</button>
					</div>
				</div>
			</form>
		</div>
		
		<script>
			$(document).ready(function(){
				$('#btnSelectModele').click(function(){
					$('#divSelectModele').toggle("slow");
				});
				
				$('#showModule').click(function(){
					$('#divModule').toggle("slow");
				});

				$('#editModule').click(function(){
					$('#divModule').toggle("slow");
				});

				$('#selectModule').on("change", function(){

					if($('#divModule').css('display') != 'none')
					{
						$('#divModule').hide("slow");
					}
					var data = $("#selectModule option:selected").attr("id");
				});
			});
				var test = $("#selectModule option:selected").attr("id");
		</script>
	</body>
	{% endblock %}